* {
    font-family: font-regular;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248,248,248);
}
@font-face {
    font-family: font-regular;
    src: url(fonts/IBMPlexSans-Regular.ttf);
}

.homepage {
    display: flex;
}
.main{
    display: inline-block;
}
.logo,#button,#menu{
    display: none;
    }



.home {
    background-color: black;
    width: 30%;
    color: white;
    padding: 20px;
    list-style-type: none;
    font-size: 17px;
}

.home li {
    list-style-type: none;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 1px;
}

.home li:hover {
    border: 2px solid white;

}

.menu {
    color: #FFF;
    line-height: 2;
    margin-top: 50px;
    margin-bottom: 80px;
    text-decoration: none;
    text-align: center;

}

.menu a {
    color: white;
    text-decoration: none;
    /* display: block; */
    font-weight: 100;
    text-transform: uppercase;
}

.brands i {
    color: black;
    background-color: #FFF;
    display: inline-block;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 50%;
}


    .brands p {
            font-size: 15px;
    }



.detail button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: black;
    color: #FFF;
    border: none;
}

.detail i {
    color: black;
    background-color: #ebe2e2;
    /* display: inline-block;/ */
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 80px 0 80px;
}

.main button {
    display: flex;
    justify-content: center;
    /* font-weight: bold; */
    border: none;
    background-color: black;
    color: #FFF;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    gap: 2px;
}

.name {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;



}

.my-photo {
    width: 50%;
    text-align: center;
    position: relative;
    z-index: -1;
}

.my-photo img {
    border-radius: 20%;
}

.my-detail {
    width: 50%;
    font-size: 20px;
    line-height: 3;


}

.Contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.svg-1 {
    z-index: -1;
    position: absolute;
    top: 13%;
    left: 10%;
    transform: rotate(180deg);

}

.svg-2 {
    z-index: +1;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.svg-3 {
    z-index: -1;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-4 {
    z-index: +1;
    position: absolute;
    top: 95%;
    left: 75%;
    transform: translate(-50%, -50%);
}

