* {
    font-family: font-regular;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: font-regular;
    src: url(fonts/IBMPlexSans-Regular.ttf);
}
body{
   background-color: #F8F8F8;
   overflow-y: hidden;
}
.project-img-hidden{
    display: none;
}
a{
    color: black;
   
    text-decoration: none;

}
.homepage {
    display: flex;
}

.main{
    display: inline-block;
}
.logo,#button,#menu{
    display: none;
    }



.home {
    background-color: black;
    width: 10%;
    color: white;
    padding: 20px;
    list-style-type: none;
    font-size: 17px;
}

.home li {
    list-style-type: none;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 1px;
}

.home li:hover {
    border: 2px solid white;

}

.menu {
    color: #FFF;
    line-height: 2;
    margin-top: 50px;
    margin-bottom: 80px;
    text-decoration: none;
    text-align: center;

}

.menu a {
   
    /* display: block; */
    font-weight: 100;
    color: #FFF;
    text-transform: uppercase;
}

.brands i {
    color: black;
    background-color: #FFF;
    display: inline-block;
    padding: 5px;
    margin-bottom: 11.5px;
    border-radius: 50%;
}

.brands p {
    font-size: large;
}
.works{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin:50px auto;
    gap: 50px 0;  
    color: white; 
   
}
.scale-img{
    overflow: hidden;
    border-radius: 10px;
}
.project-img:hover{
    transform: scale(1.1);
    transition: .5s;
    
}

.projects{
   max-height: 200px;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.145); 
    border-radius: 20px; 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    object-fit: cover;
    position: relative;
     margin: auto;

}
.first-ball1
{
    height: 80px;
    width: 80px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    position: absolute;
    background: rgb(224, 19, 80);
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
}
.first-ball2
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    background: rgb(236, 65, 13);
    top: 95%;
    left: 5%;
    transform: translate(-50%,-50%);
    
}
.first-ball3
{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#c007d1,#fe4a86);
    top: 10%;
    left: 90%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    align-items: center;


}
.first-ball3 h3{
  
}
